:root {
  --label-width: 200px;
  --label-height: 100px;
  --label-border-radius:100px;
  --after-top: 5px;
  --after-left: 5px;
  --after-width: 90px;
  --after-height: 90px;
  --after-border-radius: 90px;
  --active-after-width: 130px;
}

.container {
  width: 280px;
  color: #314d3e;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: var(--label-width);
  height: var(--label-height);
  background: grey;
  display: block;
  border-radius: var(--label-border-radius);
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: var(--after-top);
  left: var(--after-left);
  width: var(--after-width);
  height: var(--after-height);
  background: #fff;
  border-radius: var(--after-border-radius);
  transition: 0.3s;
}

input:checked + label {
  background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
  width: var(--active-after-width);
}
